:root {
  --space-size-3xs: var(--space-@max-3xs);
  --space-size-2xs: var(--space-@max-2xs);
  --space-size-xs: var(--space-@max-xs);
  --space-size-s: var(--space-@max-s);
  --space-size-m: var(--space-@max-m);
  --space-size-l: var(--space-@max-l);
  --space-size-xl: var(--space-@max-xl);
  --space-size-2xl: var(--space-@max-2xl);
  --space-size-3xl: var(--space-@max-3xl);
  --space-size-pairs-3xs—2xs: var(--space-size-2xs);
  --space-size-pairs-2xs—xs: var(--space-size-xs);
  --space-size-pairs-xs—s: var(--space-size-s);
  --space-size-pairs-s—m: var(--space-size-m);
  --space-size-pairs-m—l: var(--space-size-l);
  --space-size-pairs-l—xl: var(--space-size-xl);
  --space-size-pairs-xl—2xl: var(--space-size-2xl);
  --space-size-pairs-2xl—3xl: var(--space-size-3xl);
  --space-size-pairs-custom-pairs-s—l: var(--space-size-l);
  --font-size-step-5: var(--font-size-@max-step-5);
  --font-size-step-4: var(--font-size-@max-step-4);
  --font-size-step-3: var(--font-size-@max-step-3);
  --font-size-step-2: var(--font-size-@max-step-2);
  --font-size-step-1: var(--font-size-@max-step-1);
  --font-size-step-0: var(--font-size-@max-step-0);
  --font-size-step--1: var(--font-size-@max-step--1);
  --font-size-step--2: var(--font-size-@max-step--2);
  --grid-gutter: var(--space-@max-l);
  --grid-column: var(--space-@max-2xl);
  --grid-viewport: var(--grid-@max-viewport);
  --grid-whole: var(--grid-@max-whole);
  --grid-three-quarters: var(--grid-@max-three-quarters);
  --grid-whole—three-quarters: var(--grid-@max-three-quarters);
  --grid-two-thirds: var(--grid-@max-two-thirds);
  --grid-whole—two-thirds: var(--grid-@max-two-thirds);
  --grid-half: var(--grid-@max-half);
  --grid-whole—half: var(--grid-@max-half);
  --grid-third: var(--grid-@max-third);
  --grid-whole—third: var(--grid-@max-third);
  --grid-quarter: var(--grid-@max-quarter);
  --grid-whole—quarter: var(--grid-@max-quarter);
  --space-size-4xl: var(--space-@max-4xl);
  --space-size-pairs-3xl—4xl: var(--space-size-4xl);
  --space-size-5xs: var(--space-@max-5xs);
  --space-size-4xs: var(--space-@max-4xs);
  --space-size-5xl: var(--space-@max-5xl);
  --space-size-6xl: var(--space-@max-6xl);
  --space-size-7xl: var(--space-@max-7xl);
  --space-size-pairs-5xs—4xs: var(--space-size-4xs);
  --space-size-pairs-4xs—3xs: var(--space-size-3xs);
  --space-size-pairs-4xl—5xl: var(--space-size-5xl);
  --space-size-pairs-5xl—6xl: var(--space-size-6xl);
  --space-size-pairs-6xl—7xl: var(--space-size-7xl);
}